.book-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    background-color: white;
}

.book-item:hover {
    box-shadow: 0 8px 16px 0 white;
}

.book-cover {
    width: 230px;
    height: 360px;
    padding-top: 10px;
}

.book-info {
    margin: 20px;
    width: 210px;
    display: flex;
    justify-content: space-between;
}