.label-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.box-size {
    width: 250px;
}

.input-field {
    display: flex;
    flex-direction: row;
}

.with-button {
    width: 180px;
}

